* {
  margin: 0;
  padding: 0;
  background-color: #d3d3d3;

}

body {
  width: 100%;
}

.topSection {
  margin-top: 25px;
  height: 100%;
}

.about-me-btn {
  width: 450px;
  margin-left: -80px;
  background: #370617;
  color: white;
  cursor: pointer;
  border: none;
  padding: 12px 25px;
  font-size: 20px;
  font-weight: bold;
  position: relative;
}

.about-me-menu {
  width: 450px;
}

.img-profile {
  width: 300px;
  border: solid 2px #590d22;
}

.img-btn {
  width: 300px;
  background: #370617;
  color: white;
  cursor: pointer;
  border: none;
  margin: 10px;
  padding: 5px;
}

.text-img {
  font-size: 22px;
  font-weight: bold;
  /* color: #102542; */
}

li {
  background-color: white;
}

.span-contact {
  text-decoration: underline;
  font-weight: bold;
  background-color: white;
}

.about-me-btn-right {
  width: 450px;
  margin-right: -80px;
  background: #370617;
  color: white;
  cursor: pointer;
  border: none;
  padding: 12px 25px;
  font-size: 20px;
  font-weight: bold;
  position: relative;
}

.second-section {
  padding-top: 30px;
}

.education-col {
  margin-right: 40px;
  margin-left: -30px;
  padding-top: 20px;
}

.laboral-col {
  margin-right: -30px;
  margin-left: 40px;
  padding: 20px 100px;
}

.second-section-title {
  padding: 5px;
  border: 2.5px solid #590d22;
  border-radius: 18px;
}

.third-section {
  padding-top: 70px;
  width: 100%;
}

.cards-container {
  height: 580px;
}

.section-jobs-title {
  width: 350px;
  text-align: center;
  margin-bottom: 50px;
  padding: 5px;
  border: 2.5px solid #590d22;
  border-radius: 18px;
}

.card-style {
  width: 350px;
  margin: 0;
  opacity: .7;
  transition: .5s ease;
}

.card-style:hover{
  cursor: crosshair;
  width: 370px;
  opacity: 1;
  filter: contrast(110%);
  border: 2px solid #335c67;
}

.card-text {
  font-size: 16px;
}

.card-text:hover {
  font-size: 17px;
}

.fourth-section {
  width: 100%;
  height: auto;
  padding-top: 15px;
}

.fourth-section-title {
  width: 350px;
  text-align: center;
  margin-bottom: 50px;
  padding: 5px;
  border: 2.5px solid #590d22;
  border-radius: 18px;
}

.form-container {
  height: 320px;
  margin-bottom: 15px;
  border: 2px solid #220901;
  font-weight: bold;
}

.button-submit {
  width: 150px;
  background: #370617;
  color: white;
  cursor: pointer;
  border: none;
  margin: 5px;
  padding: 5px 0;
}

.footer-container {
  width: 100%;
  padding-top: 30px;
}

.footer-text {
  background-color: #220901;
  text-align: center;
  color: white;
  font-size: 13px;
}

.span-footer {
  background-color: #220901;
}